<%- include("partials/header") %>		
<!-- carousel -->
<div id='carousel' class='container'>
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811606/3_zzdcn0.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block mb-3">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		
      </div>
		<div class="carousel-caption">
		  <a class='btn btn-outline-primary btn-sm'>Shop now</a>
		</div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811598/2_gwv70g.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block mb-3">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
		<div class="carousel-caption">
		  <a class='btn btn-outline-primary btn-sm'>Shop now</a>
		</div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811594/1_qjjhmy.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block mb-3">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
		<div class="carousel-caption">
		  <a class='btn btn-outline-primary btn-sm'>Shop now</a>
		</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	</div>
		
		
<!-- carousal with card -->
<!-- For flash sale -->
<div class='container mt-5'>
	  <h1 class="text-center mb-3">Flash sale</h1>
<div  class=" owl-carousel owl-theme">
     <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811989/IMG-20191022-WA0011_nm2jci.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 1</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
      <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811980/IMG-20191022-WA0018_uevrdp.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 2</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
	   <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811973/IMG-20191022-WA0019_gl9niv.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 3</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
	  <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811952/IMG-20191022-WA0021_wscv3b.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 4</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
	 <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811960/IMG-20191022-WA0020_p36taw.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 5</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
	 <div class="item ml-2 mr-2">
		 <div class="card">
             <img src="https://res.cloudinary.com/dtdoifvrm/image/upload/v1594811980/IMG-20191022-WA0018_uevrdp.jpg" class='card-img-top cardimages'>
			<div class='card-body'>
				<h5 class="card-title">Product 6</h5>
				<p class="card-text">This is best place to order groceries </p>
				<a href="#" class="btn btn-outline-primary">Order now</a>
			</div>
         </div>
	</div>
</div>
</div>
<!-- for diffenent category -->
<!-- for beverages and snakes page -->
<div class= "container">
	<a href="/beverageAndSnacks" class="display-4 mb-5">Beverages and Snacks <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1566478989037-eec170784d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beverages 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='/addtocart'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1575549595260-623d27ba5e44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beverages 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='/addtocart<%= this._id%>'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1536974851270-95538a335a81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beverages 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>
<!-- for groceries  -->
<div class= "container">
	<a href="/grocery" class="display-4 mb-5">Grocery <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1526470498-9ae73c665de8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">grocery 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1565061828011-282424b9ab40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">grocery 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1506976785307-8732e854ad03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">grocery 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>

<!-- for milk products -->
<div class= "container">
	<a href="/dairy" class="display-4 mb-5">Dairy products <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1536238202089-6ce355328a96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dairy 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1589985269102-ff38adf6f00d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dairy 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1570534684425-f79109cccc35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dairy 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>

<!-- for pulses and spices -->
<div class= "container">
	<a href="/pulsesAndSpice" class="display-4 mb-5">pulses and spices <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1583949885751-23b7d1909378?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">spice 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1506368249639-73a05d6f6488?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">spice 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1581600140682-d4e68c8cde32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">spice 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>

<!-- for personal care -->
<div class= "container">
	<a href="/personalCare" class="display-4 mb-5">Personal care <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1541533693007-7ea47d894b0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">personal 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1577563717655-919fc57789b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">personal 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1546477387-7a01c38f0703?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">personal 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>
<!-- for household care -->
<div class= "container">
	<a href="/householdCare" class="display-4 mb-5">Household care <i class="fas fa-angle-double-right"></i></a>
	<div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1591465001581-2c57a07a7a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Household 1</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1591972653901-cd9db8aac1ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Household 2</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
      <a class='btn btn-outline-primary' href='#'>Buy now</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1512360117454-22f9188c2379?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Household 3</h5>
      <p class="card-text">This is a longer card with supporting.</p>
      <a class='btn btn-outline-primary' href='#'><i class="fas fa-cart-plus"></i></a>
	  <a class='btn btn-outline-primary' href='#'>Buy now</a>	
    </div>
  </div>
</div>
</div>

		
 <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
<!-- <script src="jquery.min.js"></script> -->
<!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

		<script>
			$('.carousel').carousel({
  			interval: 2000
			})
		</script> 
<script>
	$('.owl-carousel').owlCarousel({
		autoplay: true,
		autoplayHoverPause: true,
	// 	lazyload: true,
	// 	margin: 5,
	// 	stagePadding: 5,
		items:4,
		nav:true,
		dots:true,
		loop:true,
		responsive:{
			0:{
				items:1,
				nav:true
			},
			600:{
				items:3,
				nav:false
			},
			1000:{
				items:3,
				nav:true,
				loop:true,
			}
	}
	    
});
		</script>
<%- include("partials/footer") %>
